{% from "_includes/forms" import multiSelectField, booleanMenuField %}
<h2>Payment settings</h2>
<div class="flex-fields">
	<div class="field width-50">
		{{ multiSelectField({
			label: 'Paymentmethods'|t('commerce-quickpay'),
			instructions: 'What payment methods should this gateway allow? If none is selected all payment methods activated on your quickpay account will be available to the customer'|t('commerce-quickpay'),
			id: 'paymentMethods',
			name: 'paymentMethods',
			options : paymentMethods,
			values: gateway.paymentMethods,
			class: 'selectize fullwidth',
		}) }}
	</div>
</div>

<hr>
