{% from "_includes/forms" import selectizeField %}
<h2>Order status handling</h2>
<div class="flex-fields">
	<div class="field width-50">
		<div>
			{{ selectizeField({
				first: true,
				label: 'Payment order status'|t('commerce-quickpay'),
				instructions: 'What status should payment orders have'|t('commerce-quickpay'),
				id: 'paymentOrderStatus',
				name: 'paymentOrderStatus',
				options : statusOptions,
				value : gateway.paymentOrderStatus,
				errors: gateway.getErrors('paymentOrderStatus') ?? null,
			}) }}
		</div>
	</div>
</div>
<hr>
